Repository NCAS-CMS/cf-python, pull requests merged in 2022-01, with the labels that each got.

#296 Reduce duplication in `TimeDuration` via internal methods
  cf/timeduration.py
Labels: code tidy

#294 dask: `Data.convolution_filter`
  cf/data/dask_utils.py
  cf/data/data.py
  cf/test/test_Data.py
Labels: dask

#254 `Data.equals`: add unit test & migrate to Dask
  .github/workflows/dask-migration-testing.yml
  cf/cellmethod.py
  cf/data/README.rst
  cf/data/abstract/compressedsubarray.py
  cf/data/creation.py
  cf/data/dask_utils.py
  cf/data/data.py
  cf/data/netcdfarray.py
  cf/data/utils.py
  cf/field.py
  cf/formula_terms.py
  cf/functions.py
  cf/mixin/propertiesdata.py
  cf/read_write/read.py
  cf/read_write/um/umread.py
  cf/test/test_Data.py
  cf/test/test_Data_utils.py
Labels: dask

#300 `Data.func` and friends: migrate to Dask
  cf/data/data.py
  cf/test/test_Data.py
Labels: question, dask
